@model StoreApp.Models.Supplier
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}
<style>
    div {
        text-align: right;
    }
</style>
<h2>הכנס ספק חדש</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSupplier">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">שם הספק</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">מספר טלפון</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">כתובת הספק</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="הכנס ספק חדש" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="suppliers">חזרה לרשימת ספקים</a>
</div>
