@model StoreApp.Models.Product
@{
    ViewData["Title"] = "Edit";
}
<style>
    div {
        text-align: right;
    }
</style>
<h2>עריכת פרטי מוצר</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            <div class="form-group">
                <label class="control-label">שם מוצר</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">כמות</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">סוג מוצר</label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">מחיר ליחידה</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">תמונה מהקטלוג</label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">תיאור מוצר</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">מספר ספק</label>
                <input asp-for="SupplierID" class="form-control" />
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="EditProduct" value="עדכן פרטים" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="products">חזרה לרשימת מוצרים</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
